{% if articles == empty %}
  <p><em>No {{ site.article_label | plural | downcase }} available</em></p>
{% endif %}

<ol class="articles js_filter_body">

  {% for article in articles %}

  <li class="item {% if forloop.last %}last{% endif %}">
    <div class="article">
      <div class="header">
        <div class="collab_stats">
          <a href="{{ article.show_path }}#likes" title="{{article.likes_count}} likes">
            <var class="likes_count">{{ article.likes_count }}</var>
          </a>
          <a href="{{ article.show_path }}#comments">
            <var class="replies_count" title="{{ discussion.replies_count }} replies">{{ article.replies_count }}</var>
          </a>
        </div>
        <h3>
          <a href="{{ article.show_path }}" title="Click to read this article">{{ article.title }}</a>
        </h3>
      </div>


      <div class="footer">
        {{ article.more_text_link }}
        <p>
          <span class="author">
              By
              {% if article.external %}
                <a href="{{article.external_channel_url}}" target="_blank">{{ article.external_item_author }}</a>
                from
                <a href="{{article.external_channel_url}}" target="_blank">{{ article.external_channel_title }}</a>
              {% else %}
                {{ article.link_to_owner }},
              {% endif %}
          </span>
          <span class="date">{{ article.created_at | time_ago_in_words, 'ago'  }} </span>
        </p>
        {% if article.has_tags %}
        <p>Tagged as: <span class="tags">{{ article.tags_list }}</span></p>
        {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ol>

{% unless hide_more %}
  {% more articles %}
{% endunless %}
