{% if pages %}
  {% if pages != empty %}
        <li class="menu_item icon_menu_item has_multiple">
          <a href="#" title="{{section_title}}" class="{{pages[0].menu_item_class}} section_link">{{section_title}} ({{pages.size}})</a>
          <ol style="display: none">
          {% for page in pages %}
            <li class="menu_item icon_menu_item {% if forloop.last %}last{% endif %}" id="page_listing_{{page.id}}">
              <a href="{{ page.show_path }}" title="{{ page.title }}" class="group_subnav_item ">
              {{ page.page_name | truncate: 30}}
              </a>
            </li>
          {% endfor %}
          </ol>
        </li>
  {% endif %}

{% endif %}