{% menu %}
  {% submenu Add a Page, #, add_page_link %}
    <li class="icon_menu_item">{{ site.blog_label | link_to_wizard_add_page: 'Blog', user.id }}</li>
    <li class="icon_menu_item">{{ site.calendar_label | link_to_wizard_add_page: 'Calendar', user.id }}</li>
    <li class="icon_menu_item">{{ site.task_list_label | link_to_wizard_add_page: 'TaskList', user.id }}</li>
    <li class="icon_menu_item {% unless site.clients_section_enabled? %}last{% endunless %}">{{ site.document_library_label | link_to_wizard_add_page: 'DocumentLibrary', user.id }}</li>

    {% if site.clients_section_enabled? %}
    <li class="icon_menu_item last">{{ site.work_portfolio_label | link_to_wizard_add_page: 'WorkPortfolio', group.guid }}</li>
    {% endif %}
  {% endsubmenu %}
{% endmenu %}
