<div class='section unit discussion_archives js_filtered'>
  <div class='header'>
    <div class='section filters'>
      {% show_filters %}
    </div>
    <h2 class='discussion_archives'>{{ site.discussion_archive_label | plural }}</h2>
  </div>
  
  <div class='unit_body js_filter_body'>
    {% if discussion_archives == empty %}
      <p>
        <em>No {{ site.discussion_archive_label | plural | downcase }} available.</em>
      </p>
    {% else %}
      <ol class='item_list'>
        {% for discussion_archive in discussion_archives %}
          <li class='item'>
            <div class='discussion_count'>
              {{ site.discussion_label | pluralize: discussion_archive.discussions_count }}
            </div>
            <div class='discussion'>
              {{ discussion_archive.link_to_show_with_container_class }}
              <p class='updated'>
                Created {{ discussion_archive.created_at | time_ago_in_words, 'ago'  }} 
              </p>
            </div>
          </li>
        {% endfor %}
      </ol>
    {% endif %}
  </div>
	
	{% more discussion_archives %}
</div>