<div class="section unit blank_pages">
  {% for page in blank_pages %}
  <div class='header'>
    <h2 class="blank_page">
      <a href="{{ page.show_path }}">{{ page.title }}</a>
    </h2>
  </div>
  <div class='unit_body'>
		{% if page.children_count > 0 %}
		<ol class="item_list">
			{% for child in page.children limit 3 %}
    
        <li class="item {% if forloop.last %}last{% endif %}">
          <h3 class="title">
            <a href="{{ child.show_path }}">{{child.title }}</a>        
          </h3>
          <p class="details">
            Created {{ child.created_at | time_ago_in_words, 'ago'  }}
            &middot;
            <span class="started_by">Started by {{ child.link_to_owner }}</span>
            <span class="started_in">in {{ child.parent.link_to_show }}</span>
          </p>
          <div class="user_content">
            {{ child.limited_body }}
          </div>
        </li>
    
		  {% endfor %}
		</ol>
	 {% else %}
	 <p><em>No pages yet</em></p>
	 {% endif %}
  </div>
  <div class="footer">
    <a href="{{ page.show_path }}" class="more_link">More</a>
  </div>

  {% endfor %}
</div>