{% include 'search_results/showing_count' showing_count: ideas.size total_count: nodes_count hide: hide_total %}
<table class="search_results ideas  ">
  <thead>
  <tr>
    {% capture idea_header_label %}Title of {{ site.idea_label }}{% endcapture %}
    {% include 'searches/_sort_header' title: idea_header_label sort_by: "name" hide_sorting: hide_total %}
    {% include 'searches/_sort_header' title: "Author" sort_by: "created_by" hide_sorting: hide_total %}
    {% capture parent_header_label %}{{ site.ideastorm_label }} Name{% endcapture %}
    {% include 'searches/_sort_header' title: parent_header_label sort_by: "parent_title" hide_sorting: hide_total %}
    {% include 'searches/_sort_header' title: "Date Posted" sort_by: "created_at" hide_sorting: hide_total %}
  </tr>
  </thead>
  {% if ideas == empty %}
  <tr>
    <td colspan="4"><p><em>No {{ site.idea_label | plural | downcase }} available</em></p></td>
  </tr>
  {% endif %}

  <tbody class="js_filter_body">
  {% for idea in ideas limit: limit %}

  <tr class="item {% if forloop.last %}last{% endif %} container_{{ idea.container_class }}">
    <td>
      {% if idea.display_avatar? %}
      <div class="avatar_container">{{ idea.activity_feed_avatar }}</div>
      {% endif %}
      <div class="title">{{ idea.link_to_show_with_container_class }}</div>
    </td>
    <td>{{ idea.link_to_owner }}</td>
    <td>{{ idea.parent.link_to_show_with_container_class }}</td>
    <td>{{ idea.created_at | date: "%m/%d/%y"}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>


{% unless hide_more %}
  {% include 'search_results/showing_count' showing_count: ideas.size total_count: nodes_count hide: hide_total %}
  {% more ideas search: true %}
{% endunless %}