<div class="header">
  <h3>My {{ site.project_label | plural }}</h3>
</div>
<div class="section" id="sidebar_my_projects">

  {% if projects == empty %}
    <p>
      <em>No {{ site.project_label | plural | downcase }} available.</em>
    </p>
  {% else %}

    <ol>
      {% for project in projects %}
      <li class="item">
        <a href="{{ project.show_path }}">{{ project.small_avatar }}</a>
        {{ project.link_to_show_with_container_class }}
        <p>{{ 'member' | pluralize: project.members_count }}</p>
      </li>
      {% endfor %}
    </ol>
    {% if more_projects > 0 %}
      <a href="/projects?order=my" class="more_link">{{ more_projects }} more</a>
    {% endif %}

  {% endif %}

</div>