<div class="header">
  <h3>Recent {{ site.blog_label | plural }}</h3>
</div>
<div class="unit_body">
  
  {% if blogs == empty %}
    <p><em>No {{ site.blog_label | plural | downcase }} available.</em></p>
  {% else %}
  
    <ol class="item_list">
      {% for blog in blogs %}
      <li class="item recent {% if forloop.last %}last{% endif %}">
        <p class='title'>
          {{ blog.link_to_show }}        
        </p>
        <div class='user_content description'>
          {{ blog.description }}
        </div>
        <p class='updated'>
          {{ blog.created_at | time_ago_in_words, 'ago'  }} 
        </p>
      </li>
      {% endfor %}
    </ol>
    {% if more_blogs > 0 %}
      <a href="/blogs/overview?order=recent" class="more_link">{{ more_blogs }} more</a>
    {% endif %}
  
  {% endif %}
  
</div>
