{% comment %} From menus/pages_listing.liquid.  Adds the activity page link. {% endcomment %}

<ol>    
  <li class="menu_item icon_menu_item" id="page_listing_profile">
    <a href="{{ user.show_path }}" title="Profile" class="profile_menu_item">
      Profile
    </a>
  </li>
  <li class="menu_item icon_menu_item" id="page_listing_newsfeed">
    <a href="{{ user.activities_path }}" title="{{site.newsfeed_label}}" class="activities_menu_item">
      {{site.newsfeed_label}}
    </a>
  </li>
  {% for section_label in section_labels %}
    {% include 'menus/pages_listing_item' node: node, container: user, pages: sections[section_label], section_title: section_label %}
  {% endfor %}
  
  {% if site.clients_section_enabled? %}
    <li class="menu_item icon_menu_item" id="page_listing_works">
      <a href="{{ user.works_url }}" class="work_portfolio_menu_item" title="{{ site.work_label | plural }}">{{ site.work_label | plural }}</a>
    </li>
  {% endif %}

  {% if user.current_user? %}
    <li class="menu_item icon_menu_item" id="page_listing_watchings">
      <a href="/watchings" class="watchings_menu_item" title="Following List">Following List</a>
    </li>
  {% endif %}

  {% if site.desktop_sync_enabled? and user.current_user? and user.has_file_sync_installed? %}
    <li class="menu_item icon_menu_item {% if action == 'file_sync' %}selected{% endif %}">
      <a href="/users/file_sync" class="file_sync_menu_item" title="File Sync">File Sync</a>
    </li>
  {% endif %}
</ol>
