<li class="item user">
  <div class="face_box">
    <a href="{{ user.show_path }}" class="face">{{ user.small_avatar }}</a>
  </div>
  <div class="user_info">
    <p class="details">
      <a href="{{ user.show_path }}" class="user_link">{{ user.display_name }}</a>
      {{ user.location }}
      <span class="role">{{ user.role }}</span>
    </p>
    {{ user.watch_button }}
  </div>
  
</li>