<ol class="blog_posts article_list js_filter_body">
  {% if blog_posts == empty %}
  <li><p><em>No {{ site.blog_post_label | plural | downcase }} available</em></p></li>
  {% endif %}

  {% for post in blog_posts %}

  <li class="item {% if forloop.last %}last{% endif %}">
    <div class="article">
      <div class="header">
        <div class="collab_stats">
          <a href="{{ post.show_path }}#likes" title="{{post.likes_count}} likes">
            <var class="likes_count">{{ post.likes_count }}</var>
          </a>
          <a href="{{ post.show_path }}#comments">
            <var class="replies_count" title="{{ post.replies_count }} replies">{{ post.replies_count }}</var>
          </a>
        </div>
        <h3>
          <a href="{{ post.show_path }}" title="Click to read this post">{{ post.title }}</a>
        </h3>
      </div>

      <div class="section summary user_content">
        {{ post.body_before_more }}
      </div>

      <div class="footer">
        {{ post.more_text_link }}
        <p>
          <span class="author">
              By
              {% if post.external %}
                <a href="{{post.external_channel_url}}" class="external_link" target="_blank">{{ post.external_item_author }}</a>
                from
                <a href="{{post.external_channel_url}}" class="external_link" target="_blank">{{ post.external_channel_title }}</a>
              {% else %}
                {{ post.link_to_owner }},
              {% endif %}
          </span>
          <span class="date">{{ post.created_at | time_ago_in_words, 'ago'  }} </span>
        </p>
        
        <div class='section'>
        {% include 'tags/_tagger_inline' node: post %}
        </div>
        
      </div>
    </div>
  </li>
  {% endfor %}
</ol>

{% unless hide_more %}
  {% more blog_posts %}
{% endunless %}
