{% include 'search_results/showing_count' showing_count: calendar_events.size total_count: nodes_count hide: hide_total %}
<table class="search_results calendar_events  ">
  <thead>
  <tr>
    <th>Title of {{ site.calendar_event_label }}</th>
    <th>Author</th>
    <th>{{ site.calendar_label }} Name</th>
    <th>Date Posted</th>
  </tr>
  </thead>
  {% if calendar_events == empty %}
  <tr>
    <td colspan="4"><p><em>No {{ site.calendar_event_label | plural | downcase }} available</em></p></td>
  </tr>
  {% endif %}

  <tbody class="js_filter_body">
  {% for calendar_event in calendar_events limit: limit %}

  <tr class="item {% if forloop.last %}last{% endif %} container_{{ calendar_event.container_class }}">
    <td>
      {% if calendar_event.display_avatar? %}
      <div class="avatar_container">{{ calendar_event.activity_feed_avatar }}</div>
      {% endif %}
      <div class="title">{{ calendar_event.link_to_show_with_container_class }}</div>
    </td>
    <td>{{ calendar_event.link_to_owner }}</td>
    <td>{{ calendar_event.parent.link_to_show_with_container_class }}</td>
    <td>{{ calendar_event.created_at | date: "%m/%d/%y"}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>


{% unless hide_more %}
  {% include 'search_results/showing_count' showing_count: calendar_events.size total_count: nodes_count hide: hide_total %}
  {% more calendar_events search: true %}
{% endunless %}