<div class="header">
  <h3>My Groups</h3>
</div>
<div class="section">
  
  {% if groups == empty %}
    <p>
      <em>no groups available</em>
    </p>
  {% else %}
  
    <ol>
      {% for group in groups %}
      <li class="item">
        <a href="{{ group.show_path }}">{{ group.small_avatar }}</a>
        {{ group.link_to_show }}
        <p>{{ 'member' | pluralize: group.members_count }}</p>   
      </li>
      {% endfor %}
    </ol>
    {% if more_groups %}
      <a href="/groups?order=watched_and_owned&limit=10" class="more_link">{{ more_groups }} more</a>
    {% endif %}
  
  {% endif %}
  
</div>
