<div class="item search_result task">
  <div class="avatar">{{ task.closet_container_avatar }}</div>
  <div class="details">
    <h3>{{ task.link_to_show_with_container_class }} | {{ task.site_label }}</h3>
    <h4>
      {% if task.due_date %}Due: {{ task.due_date | date: "%m/%d/%Y" }} | {% endif %}
      Located in the {{ task.parent.site_label | downcase }} {{ task.parent.link_to_show_with_container_class }}
    </h4>
    <p>{{ task.search_excerpt }}</p>

    {% include 'search_results/footer_content' node: task %}
  </div>
  <div class='clear'></div>
</div>