{% include 'search_results/showing_count' showing_count: tasks.size total_count: nodes_count hide: hide_total %}
<table class="table_reset search_results tasks  ">
  <thead>
  <tr>
    {% capture task_header_label %}Title of {{ site.task_label }}{% endcapture %}
    {% include 'searches/_sort_header' title: task_header_label sort_by: "name" hide_sorting: hide_total %}
    {% include 'searches/_sort_header' title: "Author" sort_by: "created_by" hide_sorting: hide_total %}
    {% capture parent_header_label %}{{ site.task_list_label }}/{{ site.task_label }} Name{% endcapture %}
    {% include 'searches/_sort_header' title: parent_header_label sort_by: "parent_title" hide_sorting: hide_total %}
    {% include 'searches/_sort_header' title: "Date Posted" sort_by: "created_at" hide_sorting: hide_total %}
  </tr>
  </thead>
  {% if tasks == empty %}
  <tr>
    <td colspan="4"><p><em>No {{ site.task_label | plural | downcase }} available</em></p></td>
  </tr>
  {% endif %}

  <tbody class="js_filter_body">
  {% for task in tasks limit: limit %}

  <tr class="item {% if forloop.last %}last{% endif %} container_{{ task.container_class }}">
    <td>
      {% if task.display_avatar? %}
      <div class="avatar_container">{{ task.activity_feed_avatar }}</div>
      {% endif %}
      <div class="title">{{ task.link_to_show_with_container_class }}</div>
    </td>
    <td>{{ task.link_to_owner }}</td>
    <td>{{ task.parent.link_to_show_with_container_class }}</td>
    <td>{{ task.created_at | date: "%m/%d/%y"}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>


{% unless hide_more %}
  {% include 'search_results/showing_count' showing_count: tasks.size total_count: nodes_count hide: hide_total %}
  {% more tasks search: true %}
{% endunless %}