
<h2 class="container_title"><a href="{{parent.show_path}}" title="{{ parent.title }}">{{ parent.title }}</a></h2>
{% if node.id == parent.id %}
  <ul class="container_actions">
    {% if node.watchable? %}
    <li class="container_follow">{{ parent.watch_button_small }}</li>
    {% endif %}
  </ul>
  <div class="clear"></div>
  {{ primary_actions }}
  <ul class="secondary_actions">
    <li class="container_share action_btn">{{ parent.share_button }}</li>
  {% if parent.current_user_can_admin? %}
    <li class="container_edit action_btn">{{ parent.edit_link }}</li>
  {% endif %}
  </ul>
{% endif %}


