<li class='close_button'>
  <a href="javascript:void();" class='delete_button' id='remove_client_contact_fields'></a>
</li>

<li id="client_client_contact_user_data" class='text client_client_contact_input'>
  <label for="client_client_contact_name">Name</label>
  <input type="text" name="client[client_contacts][][name]" value="{{ client_contact.name }}" id="client_client_contact_first_name" class="name" />
</li>
<li id='client_client_contact_user_data' class='text client_client_contact_input'>
  <label for="client_client_contact_title">Title</label>
  <input type="text" name="client[client_contacts][][title]" value="{{ client_contact.title }}" id="client_client_contact_first_name" class="name" />
</li>
<li id='client_client_contact_user_data' class='text client_client_contact_input'>
  <label for="client_client_contact_desk_number">Desk Phone</label>
  <input type="text" name="client[client_contacts][][desk_number]" value="{{ client_contact.desk_number }}" id="client_client_contact_first_name" class="name" />
</li>
<li id='client_client_contact_user_data' class='text client_client_contact_input'>
  <label for="client_client_contact_mobile_number">Mobile Phone</label>
  <input type="text" name="client[client_contacts][][mobile_number]" value="{{ client_contact.mobile_number }}" id="client_client_contact_first_name" class="name" />
</li>
<li id='client_client_contact_user_data' class='text client_client_contact_input'>
  <label for="client_client_contact_email">Email</label>
  <input type="text" name="client[client_contacts][][email]" value="{{ client_contact.email }}" id="client_client_contact_first_name" class="name" />
</li>
<li id='client_client_contact_user_data' class='text client_client_contact_input last'>
  <label for="client_client_contact_notes">Notes</label>
  <input type="text" name="client[client_contacts][][notes]" value="{{ client_contact.notes }}" id="client_client_contact_first_name" class="name" />
</li>
