<!-- filtering by tags -->
{% unless all_tag_words == blank %}
<div class="all_tag_filtering">
  <form action="#" method="get" class="tag_filtering_form">
    <input type="hidden" name="page" value="{{ page }}" id="page" />
    <input type="hidden" name="order" value="{{ order }}" id="order" />
    <input type="hidden" name="view" value="{{ view }}" id="view" />
    <input type="hidden" name="tag_filter" value="{{ tag_filter }}" id="tag_filter" class="js_tag_filter" />
    <input type="hidden" name="t" value="" id="timestamp"></input>
    <div class="label"><h2>Tags</h2></div>
    <ol class="tag_filters">
      {% for word in all_tag_words %}
        <li>
          <a href="#" class="js_tag_filter_link">{{ word }}</a>
        </li>
      {% endfor %}
      <li class="clear_button"><a href="#" class="js_tag_filter_clear">Clear</a></li>
      <li class="submit_button"><input type="submit" value="Filter" class="submit_button button" /></li>
    </ol>
  </form>
</div>
{% endunless %}