<div class="tag_and_library_filtering">
  <form action="#" method="get">
    <input type="hidden" name="page" value="{{ page }}" id="page" />
    <input type="hidden" name="order" value="{{ order }}" id="page" />
    <input type="hidden" name="view" value="{{ view }}" id="page" />
    <input type="hidden" name="tag_filter" value="{{ tag_filter }}" id="tag_filter" class="js_tag_filter" />
    <input type="hidden" name="library_filter" value="{{ library_filter }}" id="library_filter" class="js_library_filter" />

    <div class="label"><span>In Any of These Libraries:</span></div>
    <ol class="library_filters">
      {% for lib in all_libraries %}
        <li>
          <a href="#" class="js_library_filter_link" data-id="{{ lib.id }}">{{ lib.title_with_parent }}</a>
        </li>
      {% endfor %}
    </ol>
    
    <div class="clear"></div>
    <br/>
    
    <div class="label"><span>Filter by Tag:</span></div>
    <ol class="tag_filters">
      {% for word in all_tag_words %}
        <li>
          <a href="#" class="js_tag_filter_link">{{ word }}</a>
        </li>
      {% endfor %}
    </ol>
    
    <div class="clear"></div>
    
    <div class="filter_buttons">
      <input type="submit" value="Apply" class="submit_button button" />
      <a href="#" class="js_tag_and_library_filter_clear">Clear</a>
    </div>
    
  </form>
</div>