<div class="header">
  <h3>Recent {{ site.discussion_label | plural }}</h3>
</div>
<div class="section">
  
  {% if discussions == empty %}
    <p><em>no {{ site.discussion_label | plural | downcase }} available</em></p>
  {% else %}
  
    <ol>
      {% for discussion in discussions %}
      <li class="item recent {% if forloop.last %}last{% endif %}">
        <h3 class="title">
          <a href="{{ discussion.show_path }}">{{ discussion.title }}</a>
          <div class="collab_stats">
            <a class='collab' href='{{discussion.show_path}}'>
              <var class="likes_count" title="{{discussion.likes_count}} likes">{{ discussion.likes_count }}</var>
              <var class="replies_count" title="{{ discussion.replies_count }} replies">{{ discussion.replies_count }}</var>
            </a>
          </div>
        </h3>
        <p class="details">
          Created {{ discussion.created_at | time_ago_in_words, 'ago'  }}
          &middot;
          <span class="started_by">Started by {{ discussion.link_to_owner }}</span>
          <span class="started_in">in {{ discussion.parent.link_to_show }}</span>
        </p>
        <div class="user_content">
          {{ discussion.search_result_info.summary }}
        </div> 
      </li>
      {% endfor %}
    </ol>
    {% if more_discussions > 0 %}
      <a class="more_link" href="/discussions?order=recent">{{ more_discussions }} more</a>
    {% endif %}
  
  {% endif %}
  
</div>

